@charset "utf-8";
@import 'base/basePC';
@import '_dialog';
@import '_pagination';
@import '_progress';
@import '_set';
body {
    min-width: 1080px;
    background: #F0F0F0;
}

.btn {
    margin-right: 8px;
    padding: 0 1.25em;
    min-width: 4.5em;
}

.info-list {
    >.item {
        >.content.contact {
            >.item {
                .phone {
                    width: 160px;
                    margin-right: 16px;
                    margin-bottom: 10px;
                }
                .address {
                    width: 350px;
                    margin-right: 8px;
                }
            }
        }
        .info-product {
            >table {
                tbody {
                    td {
                        border-top: 1px solid $color-border;
                    }
                }
            }
        }
    }
    &.thin {
        >.item {
            >.content {
                padding: 20px 40px;
                >.action-field {
                    margin-top: 30px;
                }
            }
        }
    }
}
