hr {
  height: 1px;
  margin: 10px auto;
  border: 0;
  background: #ddd;
}

.table {
  width: 100%;
  display: table;
}

*, :before, :after {
  box-sizing: border-box;
}

.block {
  display: block;
  width: 100%;
}

.row {
  margin-bottom: 10px;
  padding: 0 10px;
}

.required-mark:before {
  content: '*';
  color: #f00;
  margin: 1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dt,
dd, body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

i,
em,
label {
  font-style: normal;
  font-weight: 400;
}

input[type=text], input[type=tel], input[type=submit], input[type=password], button,
textarea {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 3px;
  -webkit-tap-highlight-color: transparent;
}
input[type=text]:focus:invalid, input[type=tel]:focus:invalid, input[type=submit]:focus:invalid, input[type=password]:focus:invalid, button:focus:invalid,
textarea:focus:invalid {
  background: #FFF1F1;
  border-color: #f00;
}

select {
  border: 1px solid #ddd;
}

input[type=checkbox], input[type=radio] {
  vertical-align: -2px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px 12px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background: #f2f2f2;
}

.btn-primary {
  color: #fff;
  background: #009DD9;
  border-color: #008bc0;
}
.btn-primary:hover {
  background: #0078a6;
}

.btn.block {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 18px;
}

.disabled {
  opacity: .7;
  pointer-events: none;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.color.light {
  color: #999;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bg-default {
  background-color: #eee;
  color: #555;
  border: 1px solid #d5d5d5;
}

.bg-primary {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #3071a9;
}

.bg-ok {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #c1e2b3;
}

.bg-info {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9;
}

.bg-waring {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9;
}

.bg-danger {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #e4b9b9;
}

.text-muted {
  color: #aaa;
}

.text-muted.tips {
  font-size: 13px;
}

.text-primary {
  color: #333;
}

.text-info {
  color: #08A1F1;
}

.text-ok {
  color: #4CCD70;
}

.text-waring {
  color: #E6DB5D;
}

.text-danger {
  color: #E60606;
}

.btn-ok {
  color: #fff;
  background: #4DCD70;
  border: 0;
}
.btn-ok:hover {
  background: #33b456;
}

html {
  min-height: 100%;
  font-size: 100%;
}

a {
  text-decoration: none;
}

@-webkit-keyframes loading {
  0%,40% {
    content: '.';
  }
  41%,66% {
    content: '..';
  }
  70%,100% {
    content: '...';
  }
}
@keyframes loading {
  0%,40% {
    content: '.';
  }
  41%,66% {
    content: '..';
  }
  70%,100% {
    content: '...';
  }
}
*, :before, :after {
  box-sizing: border-box;
}

.block {
  display: block;
  width: 100%;
}

.row {
  margin-bottom: 10px;
  padding: 0 10px;
}

.arrow:not(.drop-down) {
  position: relative;
  padding-right: 12px;
}
.arrow:not(.drop-down):after {
  position: absolute;
  top: 50%;
  right: 2px;
  width: 11px;
  height: 11px;
  content: '';
  box-shadow: 1px 1px #bbb;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.drop-down {
  position: relative;
  overflow: visible !important;
}
.drop-down input[type=text] {
  border: 0 !important;
  cursor: pointer;
}
.drop-down .title {
  padding-right: 20px;
}
.drop-down .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: -1;
  opacity: 0;
}
.drop-down .content li {
  position: relative;
}
.drop-down .content li.on:after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  width: .5em;
  height: .5em;
  padding: 2px;
  background: #0BD480;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.drop-down:after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 11px;
  height: 11px;
  content: '';
  margin-top: -2px;
  box-shadow: 1px 1px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}
.drop-down.expanded:after {
  right: 12px;
  margin-top: -5px;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  box-shadow: 1px 1px #888;
}
.drop-down.expanded .content {
  opacity: 1;
  z-index: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

.inputs .item {
  position: relative;
}
.inputs .item .tag {
  position: absolute;
  top: 0;
  left: 10px;
  pointer-events: none;
  z-index: 50;
}
.inputs .item input[type=text],
.inputs .item input[type=tel],
.inputs .item input[type=number],
.inputs .item input[teyp=date] {
  width: 100%;
  padding: 0 0 0 5em;
  border: 0;
  text-align: right;
  outline: 0;
}
.inputs .item input[type=text]:focus,
.inputs .item input[type=tel]:focus,
.inputs .item input[type=number]:focus,
.inputs .item input[teyp=date]:focus {
  text-align: left;
}
.inputs .item input[type=text]::-webkit-input-placeholder,
.inputs .item input[type=tel]::-webkit-input-placeholder,
.inputs .item input[type=number]::-webkit-input-placeholder,
.inputs .item input[teyp=date]::-webkit-input-placeholder {
  text-align: right;
}

.required-mark:before {
  content: '*';
  color: #f00;
  margin: 1px;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dt,
dd,
table,
td,
th,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

i,
em,
label {
  font-style: normal;
  font-weight: 400;
}

input[type=text],
input[type=tel],
input[type=submit],
input[type=password],
button,
textarea {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 3px;
  -webkit-tap-highlight-color: transparent;
}
input[type=text]:focus:invalid,
input[type=tel]:focus:invalid,
input[type=submit]:focus:invalid,
input[type=password]:focus:invalid,
button:focus:invalid,
textarea:focus:invalid {
  background: #FFF1F1;
}

select {
  border: 1px solid #ddd;
}

input[type=checkbox],
input[type=radio] {
  vertical-align: -2px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  background: #fff;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin-bottom: 0;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background: #009DD9;
  border-color: #008bc0;
}
.btn-primary:hover {
  background: #0078a6;
}

.btn-ok {
  background: #4DCD70;
  border: 0;
}
.btn-ok:hover {
  background: #33b456;
}

.btn-warning {
  color: #fff;
  background: #f98800;
  border-color: #e07a00;
}

.btn-danger {
  color: #fff;
  background: #eb1d1a;
  border-color: #d91613;
}

.btn.block {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 18px;
}

.disabled {
  opacity: 0.35;
  pointer-events: none;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  border: 0;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.bg-default {
  background-color: #eee;
  color: #555;
  border: 1px solid #d5d5d5;
}

.bg-primary {
  background-color: #428bca;
  color: #fff;
  border: 1px solid #3071a9;
}

.bg-ok {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #c1e2b3;
}

.bg-info {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9;
}

.bg-waring {
  background-color: #E7F6FD;
  color: #333;
  border: 1px solid #b8e4f9;
}

.bg-danger {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #e4b9b9;
}

.text-muted {
  color: #aaa;
}

.text-muted.tips {
  font-size: 13px;
}

.text-primary {
  color: #333;
}

.text-info {
  color: #08A1F1;
}

.text-ok {
  color: #57af3a;
}

.text-waring {
  color: #E6DB5D;
}

.text-danger {
  color: #ed1d18;
}

html {
  min-height: 100%;
  font-size: 100%;
}

body {
  color: #333;
  font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-break: break-all;
}

hr {
  height: 1px;
  margin: 10px auto;
  border: 0;
  background: #ddd;
}

.table {
  width: 100%;
  display: table;
}

a {
  color: #333;
  text-decoration: none;
}
button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.loading {
  position: relative;
  text-align: center;
  pointer-events: none;
}
.loading > * {
  opacity: 0;
}
.loading:before, .loading:after {
  content: '\6570\636E\52A0\8F7D\4E2D';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3em;
  color: #888;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.loading:after {
  content: '...';
  width: 1em;
  margin-left: 2em;
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
}

.popup, .waiting {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.popup.nomask, .nomask.waiting {
  background: transparent;
}
.popup .wrapper, .waiting .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 25px;
  margin: 0 10px;
  background: #fff;
  color: #333;
  opacity: 0;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-animation: popup-show 0.3s ease-in forwards;
  animation: popup-show 0.3s ease-in forwards;
}
.popup .wrapper .close, .waiting .wrapper .close {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 15px;
  line-height: 1;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.popup .wrapper .close:before, .waiting .wrapper .close:before, .popup .wrapper .close:after, .waiting .wrapper .close:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  bottom: 5px;
  width: 1px;
  background: #FA8803;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup .wrapper .close:after, .waiting .wrapper .close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.popup .content, .waiting .content {
  padding: 10px 0;
}
.popup .btns, .waiting .btns {
  margin: 0;
}
.popup.dark .wrapper, .dark.waiting .wrapper, .popup.ios .wrapper, .ios.waiting .wrapper {
  left: 12%;
  right: 12%;
  padding: 5px;
  margin-top: -10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.popup.dark .wrapper .close, .dark.waiting .wrapper .close, .popup.ios .wrapper .close, .ios.waiting .wrapper .close {
  display: none;
}
.popup.dark .wrapper .btns, .dark.waiting .wrapper .btns, .popup.ios .wrapper .btns, .ios.waiting .wrapper .btns {
  display: -webkit-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 -5px;
}
.popup.dark .wrapper .btns .btn-wrapper, .dark.waiting .wrapper .btns .btn-wrapper, .popup.ios .wrapper .btns .btn-wrapper, .ios.waiting .wrapper .btns .btn-wrapper {
  display: block;
  margin-bottom: -5px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.popup.dark .wrapper .btns .btn-wrapper .btn, .dark.waiting .wrapper .btns .btn-wrapper .btn, .popup.ios .wrapper .btns .btn-wrapper .btn, .ios.waiting .wrapper .btns .btn-wrapper .btn {
  margin-bottom: -1px;
  padding-bottom: 1px;
  border: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.popup.dark .wrapper .btns .btn-wrapper + .btn-wrapper, .dark.waiting .wrapper .btns .btn-wrapper + .btn-wrapper, .popup.ios .wrapper .btns .btn-wrapper + .btn-wrapper, .ios.waiting .wrapper .btns .btn-wrapper + .btn-wrapper {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.popup.ios .wrapper, .ios.waiting .wrapper {
  background: rgba(255, 255, 255, 0.97);
  color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.popup.ios .wrapper .btns .btn-wrapper, .ios.waiting .wrapper .btns .btn-wrapper {
  border-color: #e0e0e0;
}
.popup.ios .wrapper .btns .btn-wrapper .btn, .ios.waiting .wrapper .btns .btn-wrapper .btn {
  color: #333;
}
.popup.ios .wrapper .btns .btn-wrapper .btn.ok, .ios.waiting .wrapper .btns .btn-wrapper .btn.ok {
  color: #4891DC;
}
.popup.ios .wrapper .btns .btn-wrapper + .btn-wrapper, .ios.waiting .wrapper .btns .btn-wrapper + .btn-wrapper {
  border-color: #e0e0e0;
}

@-webkit-keyframes popup-show {
  100% {
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    opacity: 1;
  }
}
@-o-keyframes popup-show {
  100% {
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    opacity: 1;
  }
}
@-moz-keyframes popup-show {
  100% {
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    opacity: 1;
  }
}
@keyframes popup-show {
  100% {
    -webkit-transform: translate(0, -60%);
    transform: translate(0, -60%);
    opacity: 1;
  }
}
.waiting .content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  font-size: 16px;
  color: #eee;
  text-shadow: 1px 1px 1px #333;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.waiting .content .elipsis {
  position: absolute;
  width: .25em;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: loading 1.5s steps(3) infinite;
  animation: loading 1.5s steps(3) infinite;
}

@-webkit-keyframes am-wait {
  100% {
    opacity: 1;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes am-wait {
  100% {
    opacity: 1;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.loadmore {
  padding: 10px;
  color: #666;
}

@-webkit-keyframes loading {
  100% {
    width: 1em;
  }
}
@keyframes loading {
  100% {
    width: 1em;
  }
}
body {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  color: #333;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #66BAB7 url(/src/images/ashes.png);
  color: #fff;
  counter-reset: rows;
}

h3 {
  padding-top: 10px;
  border-top: 1px dashed #fff;
  text-shadow: 1px 1px #34939C;
}

.row {
  counter-increment: rows;
}
.row > h3 {
  color: #0C5D59;
}
.row > h3:before {
  content: counter(rows) ". ";
}
.row > ol {
  margin-left: 1em;
  counter-reset: lists;
}
.row > ol > li {
  counter-increment: lists;
}
.row > ol > li h4 {
  padding: 5px 0;
  text-shadow: 1px 1px #34939C;
}
.row > ol > li h4:before {
  content: counter(rows) "-" counter(lists) ". ";
}
.row > ol > li ol {
  margin-left: 1em;
  counter-reset: listsIn;
}
.row > ol > li ol li h5 {
  counter-increment: listsIn;
}
.row > ol > li ol li h5:before {
  content: counter(rows) "-" counter(lists) "-" counter(listsIn) ". ";
}

.prize {
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.prize .item {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  transform: translate(-50%, -50%);
  background: darkcyan;
  background: transparent;
}
.prize .item:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-60deg);
  z-index: 1;
}
.prize .item:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-120deg);
  z-index: 2;
}
.prize .item:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-180deg);
  z-index: 3;
}
.prize .item:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-240deg);
  z-index: 4;
}
.prize .item:nth-child(5) {
  transform: translate(-50%, -50%) rotate(-300deg);
  z-index: 5;
}
.prize .item:nth-child(odd) {
  background: slategray;
}

.drop-down {
  position: relative;
  overflow: visible !important;
}
.drop-down input[type=text] {
  border: 0 !important;
  cursor: pointer;
}
.drop-down .title {
  padding-right: 20px;
}
.drop-down .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #fff;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: -1;
  opacity: 0;
}
.drop-down .content li {
  position: relative;
}
.drop-down .content li.on:after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  width: .5em;
  height: .5em;
  padding: 2px;
  background: #0BD480;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.drop-down:after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 11px;
  height: 11px;
  content: '';
  margin-top: -2px;
  box-shadow: 1px 1px  #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}
.drop-down.expanded:after {
  right: 12px;
  margin-top: -5px;
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  box-shadow: 1px 1px #888;
}
.drop-down.expanded .content {
  opacity: 1;
  z-index: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

select {
  width: calc(300px - 5em) !important;
  width: 100px;
}

/*# sourceMappingURL=vue.css.map */
