@import '_variables.scss';
@import '_mixin.scss';

$animation-duration:.2s;
$transition-duration:.2s;
.animation{
	@include trans($transition-duration);
}

@-webkit-keyframes fadeInRight {
    from { @include trf-translate(-10px,0);opacity:0.2; }
    to { opacity: 1;@include trf(none); }
}
@keyframes fadeInRight {
    from { @include trf-translate(-10px,0);opacity:0.2; }
    to { opacity: 1;@include trf(none); }
}

.pulseOne{
	@include anim(pulseOne .3s);
}
@-webkit-keyframes pulseOne {
	from { @include trf-scale(1.2) }
	to { @include trf-scale(1) }
}
@keyframes pulseOne {
	from { @include trf-scale(1.2) }
	to { @include trf-scale(1) }
}