@charset "utf-8";
@import "_variables";
@import "_mixin";
hr {
    height: 1px;
    margin: 10px auto;
    border: 0;
    background: $color-border;
}

*,
:before,
:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dt,
dd,
body {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

i,
em,
label {
    font-style: normal;
    font-weight: 400;
}

$color-input-border:#e0e0e0!default;
$color-input-focus-border:$color-primary!default;
$color-input-invalid:$color-danger!default;
input[type=search],
input[type=text],
input[type=tel],
input[type=submit],
input[type=password],
input[type=number],
input[type=date],
input[type=color],
input[type=time],
button,
textarea,
select {
    border: 1px solid $color-input-border;
    padding: 4px;
    font-size: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    @include tap-highlight-color(rgba(0, 0, 0, 0));
    &:focus {
        border-color: $color-input-focus-border;
        outline: 0;
        &:invalid {
            background: #FFF1F1;
            //border-color: $color-input-invalid;
        }
    }
    &:active {
        box-shadow: inset 0 1px 3px rgba(56, 56, 56, .2);
    }
    &.error {
        border-color: $color-input-invalid;
    }
}

input[readonly] {
    &:focus,
    &:active {
        border-color: $color-border!important;
    }
}

input.ipt-s {
    width: 100px;
}

select {
    -webkit-appearance: menulist;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: -2px;
}

img {
    border: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.m10 {
    margin: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.row {
    padding: 10px;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.dis-flex {
    @include dis-flex;
    >.item {
        @include flex;
        margin: 0;
    }
}

.flex-center {
    @include flex-center;
}

.bru {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

.block {
    display: block;
    width: 100%;
}

.table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    >.item {
        display: table-cell;
    }
}

.required-mark {
    &:before {
        content: '*';
        color: #f00;
        margin: 1px;
    }
}

.hidden-simple {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    overflow: hidden!important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    line-height: 0 !important;
    opacity: 0!important;
    pointer-events: none;
    z-index: -3;
}

.hidden-super {
    @extend .hidden-simple;
    clip: rect(0, 0, 0, 0)!important;
    visibility: hidden!important;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    border: 1px solid $color-border;
    font-size: $font-size;
    font-weight: 400;
    background: $color-btn-default;
    color: $color;
    text-align: center;
    white-space: nowrap;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    cursor: pointer;
    text-decoration: none!important;
    &:hover {
        background: $color-btn-hover;
        color: $color;
    }
    +.btn{
        margin-left: 6px;
    }
}

.btn.block {
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

$color-btn-default-bg:$color-btn-default!default;
$color-btn-primary-bg:$color-primary!default;
$color-btn-info-bg:$color-info!default;
$color-btn-warning-bg:$color-warning!default;
$color-btn-danger-bg:$color-danger!default;
$color-btn-ok-bg:$color-ok!default;
@each $btn-each,
$btn-color in (btn-info:$color-btn-info-bg, btn-primary:$color-btn-primary-bg, btn-ok:$color-btn-ok-bg, btn-warning:$color-btn-warning-bg, btn-danger:$color-btn-danger-bg) {
    .#{$btn-each} {
        color: #fff;
        background: $btn-color;
        border-color: darken($btn-color, 4%);
        &:visited {
            color: #fff;
        }
        &:hover {
            color: #fff;
            background: darken($btn-color, 4%);
        }
    }
}

button {
    cursor: pointer;
}

.btn-default {
    color: $color;
    background: $color-btn-hover;
    border-color: $color-border;
    &:hover {
        background: darken($color-btn-hover, 4%);
    }
}

.btn-disabled {
    @extend .disabled;
    color: #888;
    background: #eee;
    border-color: #e0e0e0;
}

@each $btn,
$btn-color in (btn-primary-o:$color-primary, btn-info-o:$color-info, btn-warning-o:$color-warning, btn-danger-o:$color-danger) {
    .#{$btn} {
        color: $btn-color;
        background: #fff;
        border-color: darken($btn-color, 4%);
        &:visited {
            color: $btn-color;
        }
        &:hover {
            background: $btn-color;
            color: #fff;
        }
    }
}

$cursor-disabled:not-allowed!default;
.disabled {
    opacity: .7;
    pointer-events: none;
    &.btn {
        cursor: $cursor-disabled;
    }
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right!important;
}

.text-center {
    text-align: center;
}

.font-small {
    font-size: $size-font-small;
    line-height: 1;
}

.font-big {
    font-size: $size-font-big;
}

.font-bigger {
    font-size: $size-font-bigger;
}

.font-biggest {
    font-size: $size-font-biggest;
}

@each $bg,
$bg-color,
$bg-text-color in(bg-default, $color-bg-default, $color-bg-default-text),
(bg-primary, $color-bg-primary, $color-bg-primary-text),
(bg-ok, $color-bg-ok, $color-bg-ok-text),
(bg-info, $color-bg-info, $color-bg-info-text),
(bg-warning, $color-bg-warning, $color-bg-warning-text),
(bg-danger, $color-bg-danger, $color-bg-danger-text) {
    .#{$bg} {
        border: 1px solid darken($bg-color, 10%);
        background-color: $bg-color;
        color: $bg-text-color;
    }
}

.bg {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

.text-default {
    color: $color;
}

.text-muted {
    color: $color-muted;
}

.text-muted.tips {
    font-size: 13px;
}

.text-primary {
    color: $color-primary;
}

.text-info {
    color: $color-info;
}

.text-ok {
    color: $color-ok;
}

.text-warning {
    color: $color-warning;
}

.text-danger {
    color: $color-danger;
}

.split {
    >.item {
        >.title {
            float: left;
        }
        >.content {
            display: block;
            overflow: hidden;
        }
    }
}

.tags {
    .tag {
        padding: 0 6px;
        border: 1px solid $color-border;
        font-size: 12px;
        white-space: nowrap;
        -webkit-border-radius: $border-radius;
        -moz-border-radius: $border-radius;
        border-radius: $border-radius;
        &+.tag{
            margin-left: 4px;
        }
    }

}

@each $tag,
$tag-color in(tag-warning:$color-warning, tag-danger:$color-danger, tag-info:$color-info) {
    .tags .#{$tag} {
        background: $tag-color;
        color: #fff;
        border-color: darken($tag-color, 4%);
    }
}

@each $tag,
$tag-color in(tag-warning-o:$color-warning, tag-danger-o:$color-danger, tag-info-o:$color-info) {
    .tags .#{$tag} {
        background: #fff;
        color: $tag-color;
        border-color: $tag-color;
    }
}

.cols {
    overflow: hidden;
    >.item {
        float: left;
        width: 50%;
    }
}

//展开、折叠
.folder {
    @include trf-style();
    >.folder-content {
        // display: none;
        height: 0;
        overflow: hidden;
        opacity: 0;
        @include trans(.2s);
        @include trf-origin(top);
        @include trf-rotateX(-90deg);
        will-change: transform;
    }
    &.on {
        >.folder-content {
            // display: block;
            opacity: 1;
            height: auto;
            @include trf-rotateX(0);
        }
    }
}

//单选、多选样式
.radio {
    position: relative;
    >input[type=radio] {
        margin-right: 6px;
        visibility: hidden;
        &:checked {
            ~.icon:before {
                visibility: visible;
            }
        }
    }
    .icon {
        position: absolute;
        top: .5em;
        left: 3px;
        width: 1.2em;
        height: 1.2em;
        padding: 3px;
        border: 1px solid $color-border;
        background-color: #fff;
        @include trf-translate(0, -50%);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        &:before{
            content: '';
            position: absolute;
            left: 3px;
            right: 3px;
            top: 3px;
            bottom: 3px;
            background:$color-primary;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            visibility: hidden;
        }
    }
}

.checkbox {
    position: relative;
    .icon {
        position: absolute;
        left: 4px;
        top: .05em;
        width: 1em;
        height: 1em;
        border: 1px solid $color-border;
        background:#fff;
        &:before {
            content: '';
            position: absolute;
            left: 1px;
            top: 2px;
            width: .8em;
            height: 5px;
            border: 2px solid $color-primary;
            border-width: 0 0 2px 2px;
            visibility: hidden;
            @include trf(rotate(-45deg));
        }
    }
    input[type=checkbox] {
        margin-right: 6px;
        visibility: hidden;
        &:checked {
            ~.icon:before {
                visibility: visible;
            }
        }
    }
}

.switcher {
    position: relative;
    input[type=checkbox] {
        visibility: hidden;
        &~.icon {
        position: absolute;
        left: 0;
        top: 50%;
        width: 26px;
        height: 26px;
        @include trf-translate(0,-50%);
        &:before {
            content: '';
            position: absolute;
            top: 7px;
            bottom: 7px;
            left: 0;
            right: 0;
            border: 1px solid $color-border;
            background: #eee;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            @include trans(.3s);
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 16px;
            height: 16px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            @include trans(.5s);
        }
        &:after {
            background: #eee;
            border: 1px solid $color-border;
            @include trans(all .3s linear);
        }
       
    }
    &:checked{
        &~.icon{
            &:before {
                background: lighten($color-primary, 30%);
                border-color: lighten($color-primary, 30%);
            }
            &:after {
                //left: 1rem;
                @include trf-translate(10px, 0);
                background: $color-primary;
                border-color: $color-primary;
                box-shadow: 0 2px 1px #ddd;
            }
        }
    }
    }
    
}

.label-switcher-horizontal {
    // border-bottom: 1px solid $color-border;
    white-space: nowrap;
    font-size: 0;
    overflow-y: hidden;
    >.item {
        display: inline-block;
        position: relative;
        padding: 0 10px;
        line-height: 44px;
        font-size: $font-size;
        cursor: pointer;
        text-decoration: none;
        &:active {
            background: rgba(0, 0, 0, .1);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: $color-border;
            border-bottom: 1px solid transparent;
        }
        &.on {
            color: $color-primary;
            &:before {
                border-bottom: 2px solid $color-primary;
            }
            &.multi {
                &:after {
                    border-color: $color-primary;
                }
            }
        }
        &.multi {
            padding-right: 20px;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 10px;
                width: 7px;
                height: 7px;
                border: 2px solid #666;
                border-width: 0 1px 1px 0;
                @include trf(translate(0, -50%) rotate(45deg));
            }
        }
    }
}

.tab-switcher-horizontal {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid transparent;
    a {
        color: $color;
        text-decoration: none;
        &:hover {
            //color: $color-primary;
            text-decoration: none;
        }
    }
    >.item {
        display: inline-block;
        position: relative;
        padding: 0 2em;
        padding-bottom: 10px;
        margin-bottom: -2px;
        line-height: 28px;
        cursor: pointer;
        &:hover {
            color: $color-anchor-hover;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: transparent;
            @include trans(.2s);
            @include trf-scale(0);
        }
        &.on {
            color: $color-primary;
            &:after {
                background: $color-primary;
                @include trf-scale(1);
            }
        }
    }
}

//vue 数据区域编译前隐藏
[v-cloak] {
    display: none;
}

html {
    min-height: 100%;
    font-size: 100%;
}

@-webkit-keyframes loading {
    0%,
    40% {
        content: '.'
    }
    41%,
    66% {
        content: '..'
    }
    70%,
    100% {
        content: '...'
    }
}

@keyframes loading {
    0%,
    40% {
        content: '.'
    }
    41%,
    66% {
        content: '..'
    }
    70%,
    100% {
        content: '...'
    }
}
